@use "sass:math";

//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カラー
$color-normal: #333;
$color-pale: #707070;
$color-main: #005bac;
$color-contrast: #fff;
$color-attention: #f11f8d;
$color-warning: #77cb33;
$color-alert: #f6aa00;
$color-success: #3ac8ad;
$color-background: #f2f9ff;

// コンテンツ幅の指定
$sp-full-width: 375; // スマホ用のカンプ幅
$pc-full-width: 1920; // PC用のカンプ幅
$pc-content-width: 1200; // PC用のカンプのコンテンツ幅(ガイド線の幅)
// ブレイクポイントの指定
$breakpoint-df: 768;
$breakpoint-md: 1060;
$breakpoint-lg: $pc-content-width;

// 本番用か否か
$production: 0; //0の場合はpxで出力本番用の場合は1にする。
//-----------------------------------------------------
//  scss: ブレークポイント関数
//-----------------------------------------------------
$breakpoints: (
  "df": "screen and (min-width: #{$breakpoint-df}px)",
  "md": "screen and (min-width: #{$breakpoint-md}px)",
  "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: df) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//-----------------------------------------------------
//   px から rem への単位変換(PCデザイン推奨)
//-----------------------------------------------------
@function px2Rem($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px / 16) * 1rem;
}

//-----------------------------------------------------
//   px から vw への単位変換(SPデザイン推奨)
//-----------------------------------------------------
// SP用
@function vw($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $sp-full-width);
}

// タブレット用
@function vwt($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $pc-content-width);
}

//-----------------------------------------------------
// 行間の指定
// デザインデータの行間反映用
//-----------------------------------------------------

@mixin lineheight($fontsize, $lin) {
  // $fontsizeの数値の単位はpx
  line-height: math.div($lin, $fontsize);
}

//-----------------------------------------------------
// base
//-----------------------------------------------------
body {
  color: $color-normal;
  font-family: "Poppins", "Roboto", "Avenir", "Helvetica Neue", "Helvetica",
    "Arial", "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic,
    "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", serif;
  line-height: 1.75;
}

a {
  text-decoration: none;
  transition: color 0.3s;
  &:focus,
  &:hover {
    opacity: 0.6;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.sp-block {
  display: block;
  @include mq {
    display: none;
  }
}
//-----------------------------------------------------
// header
//-----------------------------------------------------

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: vw(70);
  background: $color-contrast;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  @include mq(md) {
    height: px2Rem(100);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(md) {
      max-width: px2Rem(1200);
      margin-inline: auto;
      padding: 0 px2Rem(20);
      height: 100%;
    }
  }
  &__logo {
    flex-shrink: 0;
    margin-left: vw(16);
    width: vw(166);

    @include mq(md) {
      width: px2Rem(240);
      margin-left: 0;
    }
  }
  // &__logo-image{
  //     width: 100%;
  // }
}

//-----------------------------------------------------
// hamburger
//-----------------------------------------------------
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw(70);
  height: vw(70);
  border: 0;
  background: $color-main;
  cursor: pointer;

  @include mq(md) {
    display: none;
  }

  &__line {
    position: relative;
    width: vw(30);
    height: vw(5);
    background: $color-contrast;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: vw(30);
      height: vw(5);
      background: $color-contrast;
      transition: transform 0.3s;
    }

    &::before {
      top: vw(-10);
      height: vw(5);
    }

    &::after {
      bottom: vw(-10);
    }
  }
}

/*閉じる*/
.hamburger[aria-expanded="true"] {
  .hamburger__line {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

//-----------------------------------------------------
// gnav
//-----------------------------------------------------
.gnav {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: vw(70);
  width: 100%;
  background: $color-main;
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; iOSで慣性スクロール有効化*/
  color: $color-contrast;
  font-size: vw(18);
  @include lineheight(18, 26);

  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    color: $color-normal;
    background: none;
  }

  &__list {
    padding: vw(22) vw(20);

    @include mq(md) {
      display: flex;
      padding: 0;
      margin-right: px2Rem(23);
    }
  }

  &__item {
    border-bottom: 1px solid $color-pale;
    padding-bottom: vw(20);
    margin-bottom: vw(20);
    &:last-child {
      margin-bottom: 0;
    }
    @include mq(md) {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding-left: vw(26);
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-63%);
      display: block;
      content: "";
      width: vw(14);
      height: vw(14);
      background: url(/assets/image/icon_arrow-right.svg) center center /
        contain no-repeat;
      @include mq(md) {
        display: none;
      }
    }

    // &[aria-current] {
    //     padding-left: vw(15);
    //     border-left: vw(5) solid #37952f;

    //     &::after {
    //         @include mq {
    //             content: "";
    //             display: block;
    //             width: 100%;
    //             height: vw(4);
    //             background: #37952f;
    //         }
    //     }
    // }

    @include mq(md) {
      color: inherit;
      font-weight: bold;
      // text-transform: uppercase;
      // text-decoration: none;

      // &:hover {
      //     color: #37952f;
      // }

      display: block;
      padding: px2Rem(24);
      font-size: px2Rem(20);
      @include lineheight(20, 36);
    }
  }
  &__button {
    padding: vw(6) vw(20) vw(32);
    @include mq(md) {
      padding: 0;
    }
  }
}

//-----------------------------------------------------
// コンポーネント
//-----------------------------------------------------
.button {
  display: block;
  margin-inline: auto;
  padding: vw(21) vw(41);
  border-radius: 2em;
  // border: 2px solid;
  text-align: center;
  text-decoration: none;
  color: $color-contrast;
  font-weight: bold;
  font-size: vw(18);
  @include lineheight(18, 26);
  @include mq {
    padding: px2Rem(19) px2Rem(41);
    font-size: px2Rem(24);
    @include lineheight(24, 36);
  }
  &--small {
    font-size: vw(16);
    width: vw(250);
    @include lineheight(16, 36);
    padding: vw(6) vw(41);
    @include mq {
      width: vwt(230);
    }
    @include mq(md) {
      min-width: px2Rem(340);
      font-size: px2Rem(24);
      @include lineheight(18, 26);
      padding: px2Rem(19) px2Rem(41);
    }
  }
  &--large {
    max-width: vw(350);
    font-size: vw(18);
    padding: vw(20) vw(41);
    background: $color-contrast;
    color: $color-main;
    @include mq(md) {
      color: $color-contrast;
      font-size: px2Rem(20);
      @include lineheight(20, 36);
      min-width: px2Rem(200);
      background-image: linear-gradient(
        90deg,
        rgba(2, 113, 224, 1),
        rgba(83, 162, 240, 1)
      );
      padding: px2Rem(12) px2Rem(41);
    }
  }
  &--main {
    font-size: vw(20);
    color: $color-contrast;
    background-image: linear-gradient(
      90deg,
      rgba(2, 113, 224, 1),
      rgba(83, 162, 240, 1)
    );
    @include mq(md) {
      font-size: px2Rem(24);
      @include lineheight(24, 36);
      min-width: 350px;
    }
  }
  &--warning {
    background: $color-warning;
  }
  &--alert {
    background: $color-alert;
  }
  &--success {
    background: $color-success;
  }
}
.mainvisual {
  margin-top: vw(70);
  @include mq(md) {
    margin-top: px2Rem(100);
    // position: relative;
  }
  &__body {
    padding: vw(25) vw(20) vw(14);
    @include mq {
      display: flex;
      margin-inline: auto;
      max-width: vwt(900);
      justify-content: space-between;
      margin-top: vwt(-37);
    }
    @include mq(md) {
      max-width: px2Rem(1140);
      margin-top: px2Rem(-37);
      // position: absolute;
      padding: 0 px2Rem(20);
    }
  }
  &__button {
    margin-bottom: vwt(12);

    @include mq {
      margin-bottom: vwt(12);
    }
  }
}
.title {
  font-size: vw(28);
  font-weight: bold;
  @include lineheight(28, 36);
  margin-bottom: vw(17);
  text-align: center;
  @include mq {
    margin-bottom: px2Rem(32);
    font-size: px2Rem(36);
    @include lineheight(36, 36);
  }
  span {
    color: $color-attention;
    font-size: vw(41);
    line-height: 1.3;
    @include mq {
      font-size: px2Rem(54);
    }
  }
}

.text {
  &--attension {
    color: #ff0080;
    font-family: "Poppins", serif;
  }
  span {
    font-weight: bold;
    @include mq {
      font-size: px2Rem(32);
    }
  }
}

.main {
  padding: 0 vw(16);
  margin-inline: auto;
  // @include mq{
  //     padding: 0 vw(16);

  // }
  &__container {
    padding: vw(64) 0;
    @include mq {
      max-width: px2Rem(1200);
      padding: 0 px2Rem(20);
      margin-inline: auto;
    }
  }
  &__section {
    @include mq {
      padding: px2Rem(72) 0;
    }
  }
}
.media {
  margin-bottom: vw(32);
  &--reverse {
    @include mq {
      flex-direction: row-reverse;
      .media__image {
        margin-left: px2Rem(40);
        margin-right: 0;
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include mq {
    display: flex;
    margin-bottom: px2Rem(48);
  }
  &__image {
    @include mq {
      flex: 0 1 48.3%;
      margin-right: px2Rem(35);
    }
  }
  &__body {
    margin-top: vw(11);
    @include mq {
      flex: 1;
      margin-top: 0;
    }
  }
  &__number {
    color: $color-attention;
    font-size: vw(24);
    font-style: italic;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: vw(10);
    @include mq {
      font-size: px2Rem(28);
      margin-bottom: 0;
      line-height: 1.5;
    }
    span {
      font-size: vw(36);
      margin-left: 0.1em;
      @include mq {
        font-size: px2Rem(42);
      }
    }
  }
  &__title {
    font-size: vw(20);
    font-weight: bold;
    margin-bottom: vw(7);
    line-height: 1.5;
    @include mq {
      font-size: px2Rem(24);
      margin-bottom: px2Rem(18);
    }
  }
}
.cta {
  background: rgba(255, 85, 85, 0.1);
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  &__container {
    padding: vw(40) vw(16);
    @include mq {
      padding: px2Rem(55) px2Rem(20);
    }
  }
  &__text {
    text-align: center;
    margin-bottom: vw(12);

    @include mq {
      margin-bottom: px2Rem(12);
    }
  }
  &__button {
    width: vw(305);
  }
}
.test {
  color: red;
}

.tab {
  font-weight: bold;
  &__list {
    display: flex;
    column-gap: 2px;
  }
  &__button {
    cursor: pointer;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    @include mq {
      font-size: px2Rem(24);
    }
    &.is-active {
      background: $color-background;
    }
  }
  &__panel {
    display: none;
    line-height: 1.75;
    @include mq {
      padding: px2Rem(32);
    }
    &.is-active {
      display: flex;
      flex-direction: column;
      background: $color-background;
      @include mq {
        flex-direction: row;
      }
    }
  }
  &__text {
    position: relative;
    padding-left: vw(30);
    @include mq {
      font-size: px2Rem(24);
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-63%);
      display: block;
      content: "";
      width: vw(18);
      height: vw(15);
      background: url(/assets/image/icon_arrow-right_blue.svg) center center /
        contain no-repeat;
    }
  }
  &__item {
    @include mq {
      margin-right: px2Rem(30);
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  /* 共通のコンテナスタイル */
  &__image-wrapper {
    width: 100%;
    height: vw(220);
    // height: 250px; /* スマホでは高さを小さく */
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    @include mq {
      height: auto;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    &--cover {
      object-fit: cover;
      object-position: center; /* 中央を基準に表示 */
      // @include mq{
      //     object-fit:none;
      // }
    }
    @include mq {
      height: auto;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family:"Noto Sans JP", serif;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  word-break: break-word;
  vertical-align: middle;
}

th {
  background-color: #f4f4f4;
  font-weight: normal;
}

/* Responsive Design */
@media (max-width: 768px) {
  table {
    table-layout: fixed;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }
}
