@charset "UTF-8";
body {
  color: #333;
  font-family: "Poppins", "Roboto", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", serif;
  line-height: 1.75;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
a:focus, a:hover {
  opacity: 0.6;
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.sp-block {
  display: block;
}
@media screen and (min-width: 768px) {
  .sp-block {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 18.6666666667vw;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .header {
    height: 8.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 6.25rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 100vw;
    margin-inline: auto;
    padding: 0 1.6666666667vw;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 75rem;
    padding: 0 1.25rem;
  }
}
.header__logo {
  flex-shrink: 0;
  margin-left: 4.2666666667vw;
  width: 44.2666666667vw;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 20vw;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 15rem;
  }
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.6666666667vw;
  height: 18.6666666667vw;
  border: 0;
  background: #005bac;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  position: relative;
  width: 8vw;
  height: 1.3333333333vw;
  background: #fff;
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 8vw;
  height: 1.3333333333vw;
  background: #fff;
  transition: transform 0.3s;
}
.hamburger__line::before {
  top: -2.6666666667vw;
  height: 1.3333333333vw;
}
.hamburger__line::after {
  bottom: -2.6666666667vw;
}

/*閉じる*/
.hamburger[aria-expanded=true] .hamburger__line {
  background: transparent;
}
.hamburger[aria-expanded=true] .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger[aria-expanded=true] .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.gnav {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 18.6666666667vw;
  width: 100%;
  background: #005bac;
  overflow-y: auto;
  color: #fff;
  font-size: 4.8vw;
  line-height: 1.4444444444;
}
@media screen and (min-width: 768px) {
  .gnav {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    color: #333;
    background: none;
  }
}
.gnav__list {
  padding: 5.8666666667vw 5.3333333333vw;
}
@media screen and (min-width: 768px) {
  .gnav__list {
    display: flex;
    padding: 0;
    margin-right: 1.9166666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .gnav__list {
    margin-right: 1.4375rem;
  }
}
.gnav__item {
  border-bottom: 1px solid #707070;
  padding-bottom: 5.3333333333vw;
  margin-bottom: 5.3333333333vw;
}
.gnav__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .gnav__item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.gnav__link {
  display: block;
  padding-left: 6.9333333333vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .gnav__link {
    color: inherit;
    font-weight: 500;
    display: block;
    padding: 2vw;
    font-size: 1.6666666667vw;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .gnav__link {
    padding: 1.5rem;
    font-size: 1.25rem;
  }
}
.gnav__link::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-63%);
  display: block;
  content: "";
  width: 3.7333333333vw;
  height: 3.7333333333vw;
  background: url(/assets/image/icon_arrow-right.svg) center center/contain no-repeat;
}
@media screen and (min-width: 768px) {
  .gnav__link::before {
    display: none;
  }
}
.gnav__button {
  padding: 1.6vw 5.3333333333vw 8.5333333333vw;
}
@media screen and (min-width: 768px) {
  .gnav__button {
    padding: 0;
  }
}

.main {
  padding: 0 4.2666666667vw;
  margin-inline: auto;
}
.main__container {
  padding: 17.0666666667vw 0;
}
@media screen and (min-width: 768px) {
  .main__container {
    max-width: 100vw;
    padding: 0 1.6666666667vw;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main__container {
    max-width: 75rem;
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .main__section {
    padding: 6vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .main__section {
    padding: 4.5rem 0;
  }
}

.section--other {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .section--other__container {
    display: flex;
  }
}

.footer {
  padding: 8.5333333333vw 4.2666666667vw;
  margin-inline: auto;
  background: #DDDDDD;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 4.1666666667vw 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 3.125rem 1.25rem;
    font-size: 0.8125rem;
  }
}
.footer__copyright {
  font-size: 3.4666666667vw;
  line-height: 2.1538461538;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.0833333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .mainvisual {
    background: url(/assets/image/mainVIsual_pc.jpg) center center/cover no-repeat;
    width: 100%;
    height: 54.1666666667vw;
    margin-top: 8.3333333333vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual {
    height: 40.625rem;
    margin-top: 6.25rem;
  }
}
@media screen and (min-width: 768px) {
  .mainvisual__container {
    max-width: 100vw;
    margin-inline: auto;
    padding: 8.6666666667vw 1.6666666667vw 11.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__container {
    max-width: 75rem;
    padding: 6.5rem 1.25rem vpx2Remt(141);
  }
}
.mainvisual__icon {
  text-align: center;
  line-height: 1;
  background: url(/assets/image/mainVIsual_bg.png) center center/contain no-repeat;
}
@media screen and (min-width: 768px) {
  .mainvisual__icon {
    width: 27.1666666667vw;
    padding: 3.0833333333vw 0;
    margin-bottom: 2.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__icon {
    width: 20.375rem;
    padding: 2.3125rem 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .mainvisual__icon-text {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__icon-text {
    font-size: 1.25rem;
  }
}
.mainvisual__icon-number {
  color: #f11f8d;
  font-style: italic;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .mainvisual__icon-number {
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__icon-number {
    font-size: 3.375rem;
  }
}
@media screen and (min-width: 768px) {
  .mainvisual__text {
    font-size: 2.75vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__text {
    font-size: 2.0625rem;
  }
}
.mainvisual__title {
  color: #005bac;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .mainvisual__title {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  .mainvisual__title {
    font-size: 3.75rem;
  }
}

.card {
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 5.8666666667vw;
}
@media screen and (min-width: 768px) {
  .card {
    width: 50%;
    font-size: 2.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    font-size: 2rem;
  }
}
.card:hover {
  opacity: 1;
}
.card:hover .card__image-wrapper {
  transform: scale(1.2);
}
.card__image-wrapper {
  transition: 0.4s;
}
.card__text {
  position: absolute;
  top: 50%;
  left: 4.2666666667vw;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .card__text {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta {
  background: rgba(255, 85, 85, 0.1);
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
.cta__container {
  padding: 10.6666666667vw 4.2666666667vw;
}
@media screen and (min-width: 768px) {
  .cta__container {
    padding: 4.5833333333vw 1.6666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .cta__container {
    padding: 3.4375rem 1.25rem;
  }
}
.cta__text {
  text-align: center;
  margin-bottom: 3.2vw;
}
@media screen and (min-width: 768px) {
  .cta__text {
    margin-bottom: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  .cta__text {
    margin-bottom: 0.75rem;
  }
}
.cta__button {
  width: 81.3333333333vw;
}

.button {
  display: block;
  margin-inline: auto;
  padding: 5.6vw 10.9333333333vw;
  border-radius: 2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 4.8vw;
  line-height: 1.4444444444;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 1.5833333333vw 3.4166666667vw;
    font-size: 2vw;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 1.1875rem 2.5625rem;
    font-size: 1.5rem;
  }
}
.button--small {
  font-size: 4.2666666667vw;
  width: 66.6666666667vw;
  line-height: 2.25;
  padding: 1.6vw 10.9333333333vw;
}
@media screen and (min-width: 768px) {
  .button--small {
    width: 19.1666666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .button--small {
    min-width: 21.25rem;
    font-size: 1.5rem;
    line-height: 1.4444444444;
    padding: 1.1875rem 2.5625rem;
  }
}
.button--large {
  max-width: 93.3333333333vw;
  font-size: 4.8vw;
  padding: 5.3333333333vw 10.9333333333vw;
  background: #fff;
  color: #005bac;
}
@media screen and (min-width: 768px) {
  .button--large {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.8;
    min-width: 12.5rem;
    background-image: linear-gradient(90deg, rgb(2, 113, 224), rgb(83, 162, 240));
    padding: 0.75rem 2.5625rem;
  }
}
@media screen and (min-width: 768px) {
  .button--large {
    color: #fff;
    font-size: 1.6666666667vw;
    line-height: 1.8;
    min-width: 16.6666666667vw;
    background-image: linear-gradient(90deg, rgb(2, 113, 224), rgb(83, 162, 240));
    padding: 1vw 3.4166666667vw;
  }
}
@media screen and (min-width: 1200px) {
  .button--large {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.8;
    min-width: 12.5rem;
    background-image: linear-gradient(90deg, rgb(2, 113, 224), rgb(83, 162, 240));
    padding: 0.75rem 2.5625rem;
  }
}
.button--main {
  font-size: 5.3333333333vw;
  width: 81.3333333333vw;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(2, 113, 224), rgb(83, 162, 240));
}
@media screen and (min-width: 768px) {
  .button--main {
    font-size: 2vw;
    line-height: 1.5;
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  .button--main {
    width: 22.5rem;
    font-size: 1.5rem;
  }
}
.button--warning {
  background: #77cb33;
}
.button--alert {
  background: #f6aa00;
}
.button--success {
  background: #3ac8ad;
}